@page "/fetchdata"


<PageTitle>Weather forecast</PageTitle>
@inject IEnginnerService EnginnerService

<h1>Enginner List</h1>

<p>This listing is being Fetch by a CosmoDB instance.</p>

@if (enginners is null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Speciality</th>
            <th>birthDay</th>
            <th>admission</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var eng in enginners)
        {
            <tr>
                <td>@eng.id</td>
                <td>@eng.name</td>
                <td>@eng.speciality</td>
                <td>@eng.birthDay.ToString()</td>
                <td>@eng.admission.ToString(CultureInfo.InvariantCulture)</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {

     List<Engineer> enginners { get; set; }
    protected override async Task OnInitializedAsync()
    {
        enginners = await EnginnerService.GetEnginnersAsync();
    }

}